<div class="fieldcontain">
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</div>
<div class="fieldcontain">
  <%= form.label :lock_code %><br />
  <%= form.number_field :lock_code %>
</div>
<div class="fieldcontain">
  <%= form.label :comment %><br />
  <%= form.text_area :comment, {:size => '90x4'} %>
</div>