<fieldset style='width:auto; float:left;' title="<%= server_rack.name %>">
	<legend><%= server_rack.name %></legend>
	<p><%= server_rack.comment %></p>
	<p>Available units: <%= "#{server_rack.units.available.count}/#{server_rack.units.count}" %></p>
	<p>
		<%= link_to 'Show',  [server_rack.datacenter, server_rack] %>
    	<%= link_to 'Edit', [:edit, server_rack.datacenter, server_rack], :remote => true %>
    	<%= link_to 'Destroy', [server_rack.datacenter, server_rack], :confirm => 'Are you sure?', :method => :delete %>
	</p>
	<p>
		<%= link_to 'Add device', [:new, server_rack.datacenter, server_rack, :device], :class => 'button remote' %>
	</p>
	
	<div class='devices_accordion'>
		<%= render :partial => 'devices/device', :collection => server_rack.devices, :as => :device %>
	</div>

</fieldset>