<div class='toolbar' >
	<%= link_to "Back", [:datacenters], {:class => "back"}%>
	<h1><%= @current_datacenter.name%></h1>
	<%= link_to "Delete", @current_datacenter, :method => :delete, :confirm => 'Are you sure?', :class => "button" %>
</div><!-- /header -->

<div>
	<div>
		<p>Location: <%= @current_datacenter.location %></p>
		<p>Comment: <%= @current_datacenter.comment %></p>

	</div>
	<ul class="independant">
		<li><%= link_to "Edit", [:edit, @current_datacenter], {"data-role" => "button"} %></li>
	</ul>
	<br>
	<ul class="rounded">
		<%@current_datacenter.server_racks.each do |server_rack|%>
		<li><%= link_to server_rack.name, [@current_datacenter, server_rack]%></li>
		<%end%>
	</ul>
</div><!-- /content -->
<div toolbaar>
	<%= link_to "Add", [:new, @current_datacenter, :server_rack], { :class => "button"} %>
</div><!-- /header -->


