<h1>New server_rack</h1>
<%= form_for [@server_rack.datacenter, @server_rack] do |form| %>
<%= render form %>
<div class="field">
    <%= label 'number_of_units', :number_of_units %><br />
    <%= text_field_tag :number_of_units %>
 </div>

<div class="actions">
	<%= form.submit %>
</div>
<% end %>



<%= link_to 'Back', datacenter_server_racks_path %>
