<div id="modal_form" title="Add a rack" class='clearfix'>
  <%= form_for [@server_rack.datacenter, @server_rack] do |form| %>
  <%= render :partial => 'form', :locals => {:server_rack => @server_rack, :form => form} %>
  <div class="field">
    <%= label 'number_of_units', :number_of_units %><br />
    <%= text_field_tag :number_of_units, 42 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
</div>