

<p>
  <b>Datacenter:</b>
  <%= @server_rack.datacenter_id %>
</p>

<p>
  <b>Name:</b>
  <%= @server_rack.name %>
</p>

<p>
  <b>Comment:</b>
  <%= @server_rack.comment %>
</p>


<%= link_to 'Edit', edit_datacenter_server_rack_path(@server_rack) %> |
<%= link_to 'Back', datacenter_server_racks_path %>
