<div id="datacenters" class='tabs'>
	<ul>
		<li><a href='#found_datacenters'>Datacenters (<%= @found_datacenters.count %>)</a></li>
		<li><a href='#found_racks'>Racks (<%= @found_racks.count %>)</a></li>
		<li><a href='#found_devices'>Devices (<%= @found_devices.count %>)</a></li>
		<li><a href='#found_companies'>Companies (<%= @found_companies.count %>)</a></li>
	</ul>

	<div  id="found_datacenters" style='height:600px;'>
		<ul>
			<% @found_datacenters.each do |datacenter| %>
			<li>
				<%= link_to datacenter.name, datacenter %>
			</li>
			<% end %>
		</ul>
	</div>
	<div  id="found_racks" style='height:600px;'>
		<ul>
			<% @found_racks.each do |server_rack| %>
			<li>
				<%= link_to server_rack.name, [server_rack.datacenter, server_rack] %> in <%= link_to server_rack.datacenter.name, server_rack.datacenter %>
			</li>
			<% end %>
		</ul>
	</div>
	<div  id="found_devices" style='height:600px;'>
		<ul>
			<% @found_devices.each do |device| %>
			<li>
				<%= link_to device.name, [device.server_rack.datacenter, device.server_rack, device] %> (<%= link_to device.server_rack.name, [device.server_rack.datacenter, device.server_rack]%> in <%= link_to device.server_rack.datacenter.name, device.server_rack.datacenter%>)
			</li>
			<% end %>
		</ul>
	</div>
	<div  id="found_companies" style='height:600px;'>
		<ul>
			<% @found_companies.each do |company| %>
			<li>
				<%= link_to company.name, company %>
			</li>
			<% end %>
		</ul>
	</div>
</div>