<h3 id='show_device_<%= device.id %>'><a href="#"><%= "#{device.units.first.number} - #{device.units.last.number}: #{device.device_type(:name)}: #{device.name}" %></a></h3>
	<div>
		<p>
			<%= device.device_type(:name) %>
		</p>
		<p>
			<%= device.comment %>
		</p>
		<p>
			Used by: 
			<% if device.company.nil? %>
			Openminds
			<% else %>
				<%= link_to device.company.name, device.company %>
			<% end %>
		</p>
		<table>
			<% device.interfaces.each do |interface| %>
				<tr>
					<td><%= interface.name %></td>
					<td>
						<% if interface.cable_connection %>
								<em style="background-color:<%= interface.cable_connection.color%>;">&lt;-&gt;</em>
						<% end %>
					</td>
					<td>
						<% if interface.cable_connection %>
								<%= interface.cable_connection.other_interface(interface).to_s %>
						<%end%>
					</td>
				</tr>
			<% end %>
		</table>
		<p><%= link_to 'Show',  [device.server_rack.datacenter, device.server_rack, device] %>
	    <%= link_to 'Edit', [:edit, device.server_rack.datacenter, device.server_rack, device], :remote => true %>
	    <%= link_to 'Destroy', [device.server_rack.datacenter, device.server_rack, device], :confirm => 'Are you sure?', :method => :delete %></p>	
	</div>