<% cache dom_id(device) do%>

<h3 id='show_device_<%= device.id %>'><a href="#"><%= "#{device.units.first.number}" %><%= "-#{device.units.last.number}" if device.units.size > 1 %><%= ": #{device.device_type(:name)}: #{device.name}" %></a></h3>

<div>
	<p>
		<%= device.device_type(:name) %>
	</p>
	<p>
		<%= device.comment %>
	</p>
	<p>
		Used by:
		<%= device.company_names %>
	</p>
	<table>
		<% device.interfaces.each do |interface| %>
		<tr>
			<td><%= interface.name %></td>
			<td>
				<% if interface.cable_connection %>
				<span class="connection" style="background-color:<%= interface.cable_connection.color%>;"></span>
				<% end %>
			</td>
			<td>
				<% if interface.cable_connection %>
				<%= link_to interface.other.to_s, [interface.other.device.server_rack.datacenter, interface.other.device.server_rack, interface.other.device] %>
				<%end%>
			</td>
		</tr>
		<% end %>
	</table>
	<p><%= link_to 'Show',  [device.server_rack.datacenter, device.server_rack, device] %>
		<%= link_to 'Edit', [:edit, device.server_rack.datacenter, device.server_rack, device], :class => 'remote' %>
		<%= link_to 'Destroy', [device.server_rack.datacenter, device.server_rack, device], :confirm => 'Are you sure?', :method => :delete %>
	</p>
</div>
<% end %>