<% show_errors_for device %>
<div id="device_info">
	<fieldset style="float:left">
		<legend>The device</legend>
		<div class="ui-widget">
			<%= form.label :company_names %><br />
			<%= form.text_field :company_names %>
		</div>
		<div class="field">
			<%= form.label :device_type %><br />
			<%= form.select :device_type, DeviceType.to_select %>
		</div>
		<div class="field">
			<%= form.label :name %><br />
			<%= form.text_field :name %>
		</div>
		<div class="field">
			<%= form.label :comment %><br />
			<%= form.text_area :comment, {:size => '90x4'} %>
		</div>
	</fieldset>
</div>
<div id="interfaces">
	<fieldset style="float:left">
		<legend>Interfaces</legend>
		<table id='interface_form'>
			<%= form.fields_for :interfaces do |interface_form| %>
			<tr class='interface_row'>
				<td class="field">
					<%= interface_form.select :interface_type, Interface::InterfaceType.to_select,{:prompt => 'Interface Type?'} %>
				</td>
				<td class="field">
					<%= interface_form.text_field :name %>
				</td>
				<td>
					<% unless interface_form.object.new_record? %>
					<%= interface_form.hidden_field :id %>	
					<%= interface_form.check_box :_destroy %>
					<%= interface_form.label :_destroy, 'Remove' %>
					<% end %>
				</td class="field">
				<td>
					<%= interface_form.select :connected_to, interfaces.map {|i| [i.to_s, i.id, :type => i.interface_type]  } << ["disconnect", nil],{:prompt => 'Connect this interface?', :selected => interface_form.object.other.try(:id) } %>
				</td class="field">
				<td class="field">
					<%= interface_form.text_field :cable_connection_color, :value => (interface_form.object.cable_connection.color if interface_form.object.cable_connection), :class => "connection_color"  %>
				</td>
			</tr>
			<% end %>
		</table>
		<%= link_to 'Add Interface','#', :id => 'add_interface' %>
	</fieldset>
</div>

