<div id="modal_form" title='Edit device'>

	<%= form_for([@device.server_rack.datacenter, @device.server_rack, @device]) do |form| %>
	<div class='tabs'>
		<ul>
			<li><a href='#device_info'>Device Info</a></li>
			<li><a href='#units'>Units</a></li>
			<li><a href='#interfaces'>Interfaces</a></li>
		</ul>
		<%= render :partial => 'form', :locals => {:device => @device, :interfaces => @interfaces, :form => form} %>
		<div id="units">
			<fieldset  style="float:left;">
				<legend>Rack</legend>
				<%= form.label :unit_ids %><br />
				<%= form.collection_select :unit_ids,  @device.units+@device.server_rack.units.available , :id, :number, {},{:size => 10, :multiple => 'multiple', :value => :number} %>
			</fieldset>
		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>
	<%= form.submit %>
	<%#= link_to 'Back', datacenters_path %>
	<%#= link_to 'Show', [device.server_rack.datacenter, device.server_rack] %>

	<% end %>
</div>