<%= form_for([@device.server_rack.datacenter, @device.server_rack, @device]) do |form| %>
<div data-role="header"  data-position="fixed">
	<%= link_to "Back", [@device.server_rack.datacenter, @device.server_rack, @device], {"data-icon" => "arrow-l", :rel => "", "data-transition"=>"flip"}%>
	<h1>Edit device</h1>
</div><!-- /header -->

<div id="content" data-role="content">	
	<%= render :partial => "form", :locals => {:device => @device, :form => form}%>
	<div class="fieldcontain" data-role="collapsible" data-collapsed="true">
		<h3>Units</h3>
		<fieldset data-role="controlgroup">
		<%= form.fields_for :unit_ids do |unit_id|%>
			<% units = (@device.units + @device.server_rack.units.available) %>
			<% units.each do |unit|%>
				<%= unit_id.check_box "", {:id => "unit_#{unit.id}", :checked => ("checked" if @device.units.include?(unit))}, unit.id, nil %> 
				<label for='<%="unit_#{unit.id}"%>'><%=unit.number%></label>
			<% end %>
		<% end %>
		</fieldset>
	</div>
	<%= form.submit "Save" %>
</div><!-- /content -->

<%end%>
