

<p>
  <b>Company:</b>
  <%= @device.company_id %>
</p>

<p>
  <b>device_type:</b>
  <%= @device.device_type %>
</p>

<p>
  <b>Name:</b>
  <%= @device.name %>
</p>

<p>
  <b>Comment:</b>
  <%= @device.comment %>
</p>


<%= link_to 'Edit', [:edit, @device.server_rack.datacenter, @device.server_rack, @device] %>
<%= link_to 'Back', datacenters_path %>
