<div data-role="header" data-position="fixed"  >
	<%= link_to "Back", [@device.server_rack.datacenter, @device.server_rack], {"data-icon" => "arrow-l", :rel=>""}%>
	<h1><%= @device.server_rack.datacenter.name%>::<%= @device.server_rack.name %>::<%=@device.name%></h1>
	<%= link_to "Delete", [@device.server_rack.datacenter, @device.server_rack, @device], :method => :delete, :confirm => 'Are you sure?', "data-icon" => "delete", :class => "ui-btn-right", :rel=>"external" %>
</div><!-- /header -->

<div id="content" data-role="content" >
	<div data-inline='true'>
		<p><%= @device.comment %></p>
		
	</div>

	<%= link_to "Edit", [:edit, @device.server_rack.datacenter, @device.server_rack, @device], {"data-role" => "button"} %>
	<br>
	<div class="ui-grid-b">
		<%@device.interfaces.each do |interface|%>
		<div class="ui-block-a">
			<%= interface.name %>
		</div>
		<div class="ui-block-b">
			<%= (link_to "#{interface.other.name} on #{interface.other.device.name}", [interface.other.device.server_rack.datacenter, interface.other.device.server_rack, interface.other.device]) if interface.cable_connection %>
			<%= "not connected" if interface.cable_connection == nil  %>
		</div>
		<div class="ui-block-c">
			<%= link_to "Edit", [:edit, interface.device.server_rack.datacenter, interface.device.server_rack, interface.device, interface], :class=> "ui-btn-right" %><br>
			<%= link_to "Delete", [interface.device.server_rack.datacenter, interface.device.server_rack, interface.device, interface], :method => :delete, :confirm => 'Are you sure?', "data-icon" => "delete", :class => "ui-btn-right", :rel=>"external" %>
		</div>
		<%end%>
	</div>
</div><!-- /content -->
<div data-role="footer"  data-position="fixed">
	<%= link_to "Add interface", [:new, @device.server_rack.datacenter, @device.server_rack, @device, :interface], { "data-icon" => "plus", :rel=>""} %>
</div><!-- /header -->


