<% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this datacenter from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p>
	<%= form.label :name %><br />
	<%= form.text_field :name %>
</p>
<h2>Contact information</h2>
<p>
	<%= form.label :address %><br />
	<%= form.text_field :address %>
</p>
<p>
	<%= form.label :postal_code %><br />
	<%= form.text_field :postal_code %>
	<%= form.label :city %>
	<%= form.text_field :city %>
	
</p>
<p>
	<%= form.label :telephone %><br />
	<%= form.text_field :telephone %>
</p>
<p>
	<%= form.label :email %><br />
	<%= form.text_field :email %>
</p>
<h2>Other</h2>
<p>
	<%= form.label :url %><br />
	<%= form.text_field :url %>
</p>
<p>
	<%= form.label :btw_nr %><br />
	<%= form.text_field :btw_nr %>
</p>
<p>
	<%= form.label :comment %><br />
	<%= form.text_area :comment %>
</p>

