

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<p>
  <b>Postal code:</b>
  <%= @company.postal_code %>
</p>

<p>
  <b>City:</b>
  <%= @company.city %>
</p>

<p>
  <b>Telephone:</b>
  <%= @company.telephone %>
</p>

<p>
  <b>Url:</b>
  <%= @company.url %>
</p>

<p>
  <b>Btw nr:</b>
  <%= @company.btw_nr %>
</p>

<p>
  <b>Comment:</b>
  <%= @company.comment %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
