<div id='datacenter<%= datacenter.id %>'>
	<p>Location: <%= datacenter.location %></p>
	<p>Comment: <%= datacenter.comment %></p>
	<p>
		<%= link_to "Edit", [:edit, datacenter], :class => 'remote' %>
		<%= link_to "Destroy", datacenter, :method => :delete, :confirm => 'Are you sure?' %>
	</p>
	<p>
		<%= link_to 'Add rack', new_datacenter_server_rack_path(datacenter),  :class => "remote button" %>
	</p>
	<%= will_paginate datacenter.paginated_server_racks(params["datacenter_#{datacenter.id}_page"]), :param_name => "datacenter_#{datacenter.id}_page" %>
	<%= render :partial => 'server_racks/server_rack', :collection => datacenter.paginated_server_racks(params["datacenter_#{datacenter.id}_page"]), :as => :server_rack %>
	
	
	<div style="clear: both;">&nbsp;</div>
</div>