<div id='datacenter<%= datacenter.id %>'>
	<p>Location: <%= datacenter.location %></p>
	<p>Comment: <%= datacenter.comment %></p>
	<%= link_to "Edit", [:edit, datacenter] %>
	<%= link_to "Destroy", datacenter, :method => :delete, :confirm => 'Are you sure?' %>
	<br />
	<%= render :partial => 'server_racks/server_rack', :collection => datacenter.server_racks, :as => :server_rack %>
	<br />
	<%= link_to 'Add rack', new_datacenter_server_rack_path(datacenter)%>
	<div style="clear: both;">&nbsp;</div>
</div>