<div id='datacenter<%= datacenter.id %>'>
	<p>Location: <%= datacenter.location%></p>
	<p>Comment: <%= datacenter.comment %></p>
	<%= link_to "Edit", [:edit, datacenter] %>
	<%= link_to "Destroy", datacenter, :method => :delete, :confirm => 'Are you sure?' %>
	<br />
	DISPLAY THE RACKS HERE
	<br />
	<%= link_to 'Add rack', new_datacenter_server_rack_path(datacenter)%>
</div>