<%# show_errors_for datacenter %>

<div data-role="fieldcontain">
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</div>
<div data-role="fieldcontain">
	<%= f.label :location %><br />
	<%= f.text_field :location %>
</div>
<div data-role="fieldcontain">
	<%= f.label :comment %><br />
	<%= f.text_area :comment, {:size => '90x4'} %>
</div>
