<%# show_errors_for datacenter %>
<ul class="edit rounded">
<li>
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</li>
<li>
	<%= f.label :location %><br />
	<%= f.text_field :location %>
</li>
<li>
	<%= f.label :comment %><br />
	<%= f.text_area :comment %>
</li>
</ul>