<script type="text/javascript" language="javascript">
// $(function(){
// 	$("#new_datacenter_tab").load('<%= new_datacenter_path %> #new_datacenter');
// });
</script>
<div id="datacenters" class='tabs'>
	<ul>
		<% @datacenters.each do |datacenter| %>
				<li><a href='#datacenter<%= datacenter.id %>'><%= datacenter.name %></a></li>
		<% end %>
		<li class='right'><a href='#new_datacenter_tab'>New Datacenter</a></li>
	</ul>
	<%= render :partial => 'datacenter_tab', :collection => @datacenters, :as => :datacenter%>
	<div  id="new_datacenter_tab" style='height:600px;'>
		<%= render :partial => "new", :locals => {:datacenter => @datacenter} %>
	</div>
	
</div>

