<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @datacenter.name %>
</p>

<p>
  <b>Location:</b>
  <%= @datacenter.location %>
</p>

<p>
  <b>Comment:</b>
  <%= @datacenter.comment %>
</p>


<%= link_to 'Edit', edit_datacenter_path(@datacenter) %> |
<%= link_to 'Back', datacenters_path %>
