<div class="fieldcontain">
	<%= form.label :interface_type%>
	<%= form.select :interface_type, Interface::InterfaceType.to_select %>
</div>
<div class="fieldcontain">
	<%= form.label :name%>
	<%= form.text_field :name %>
</div>
<div class="fieldcontain">
	<%= form.label :connected_to %>
	<%= form.select :connected_to, interfaces.map {|i| [i.to_s, i.id, {:type => i.interface_type}]  } << ["disconnect", nil],{:prompt => 'Connect this interface?', :selected => interface.other.try(:id) } %>
</div>
<div class="fieldcontain">
	<%= form.label :cable_connection_color%>
	<%= form.text_field :cable_connection_color, :value => (interface.cable_connection.color if interface.cable_connection)  %>
</div>
<div id="hiddenOptions" style="display: none;">
	
</div>
<div id="ethernet" style="display: none;">
	<%= form.object.device.interfaces.ethernet.size %>
</div>
<div id="power" style="display: none;">
	<%= form.object.device.interfaces.power.size %>
</div>