<h1>Listing interfaces</h1>

<table>
  <tr>
    <th>Device</th>
    <th>Type</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @interfaces.each do |interface| %>
  <tr>
    <td><%= interface.device_id %></td>
    <td><%= interface.interface_type %></td>
    <td><%= interface.name %></td>
    <td><%= link_to 'Show', interface %></td>
    <td><%= link_to 'Edit', edit_interface_path(interface) %></td>
    <td><%= link_to 'Destroy', interface, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Interface', new_interface_path %>
